* {
    font-size: 10px;

}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0 0;
    width: 100vw;
    height: auto;
    background-color: rgb(243, 243, 244);
    /* display: flex; */

}

.main {

    margin: 0 auto;
    background: rgb(16, 7, 36);
    width: 60%;
    min-width: 4000px;
    height: auto;
    display: flex;
    flex-direction: row;
}

.mleft {
    flex: 1;
    height: auto;
    /* overflow: scroll; */
    background-color: rgb(30, 47, 76);
    display: grid;
    /* gap: 2rem; */
    grid-template-rows: 0.4fr 0.7fr 1fr 1fr;
    /* justify-items: center; */
}

#mleft1 {
    /* background-color: brown; */
    display: flex;
    /* align-items: center; */
}

#mleft1 img {
    width: 420px;
    height: 500px;
    margin: 2rem auto;
}

#mleft2 {
    /* background-color: aquamarine; */

}

#mleft2 ul li {
    font-size: 8rem;
    color: white;
    margin: 6rem;
}


#mleft3 {
    /* background-color: bisque; */
}

#mleft3 ul li {
    font-size: 8rem;
    color: white;
    margin: 6rem;
}




h2,
p {
    font-size: 8rem;
    margin-left: 2re;
}

#mleft4 p {
    font-size: 8rem;
    /* margin-top: 2rem; */
    margin-left: 5rem;
    color: white;
    margin-top: 6rem;
}

.mright {
    flex: 3;
    background-color: azure;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    /* align-self: stretch; */

}

.mright #base {
    flex: 0.5;
    /* background-color: rebeccapurple; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* 分成两行，每行高度相等 */
    grid-template-columns: repeat(2, 1fr);
    /* 分成两列，每列宽度相等 */
}

.bcont {
    font-size: 8rem;

    margin-top: 4rem;
    margin-bottom: 0;
}

.mright #education {
    margin-top: 6rem;
    flex: 0.5;
    /* background-color: aqua; */
}

#s1 {
    font-size: 7rem;
    margin-left: 2rem;
}

.hline {
    margin-top: 5rem;
    height: 1rem;

    margin-left: 11rem;
    background-color: rgb(30, 47, 76);
}

.hul {
    list-style: none;
}

.hul li {
    display: inline-block;
    margin: 7rem 8rem;
    font-size: 8rem;
    /* 设置项之间的间距 */
}

.huh li {
    margin: 7rem 8rem;
    font-size: 8rem;
}

.huh li:first-child {
    font-weight: bolder;
}

.mright #work {
    flex: 3;
    /* background-color: rgb(203, 203, 206); */
}

.layui-icon {
    font-size: 100px;
    color: rgb(30, 47, 76);
    /* padding-bottom: 40rem; */

}

.mright #selfpj {
    flex: 2;
    /* background-color: aquamarine; */
    min-height: 800px;
}

footer {
    position: fixed;
    height: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
}